@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

/*REPEATED CODE... NOT MY PROUDEST CSS*/

.bin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background: #FFFFFF;
}

.dec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background: linear-gradient(90deg, #36F17D 0%, #11998E 100%);
}

.input-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;

  color: #000000;
}

.output-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;

  color: #FFFFFF;
}

.input-line {
  width: 274px;
  border: 2px solid #000000;
}

.output-line {
  width: 274px;
  border: 2px solid #FFFFFF;
}
